<div>
	<h3>All Reimbursement</h3>
	<button class="btn btn-submit" id="allbtn">Get Reimbursements</button>

	<table class="table">
		<thead>
			<tr>

				<th scope="col">Amount</th>
				<th scope="col">Submitted</th>
				<th scope="col">Resolved</th>
				<th scope="col">Description</th>
				<th scope="col">Author</th>
				<th scope="col">Resolver</th>
				<th scope="col">Status</th>
				<th scope="col">Type</th>
				<th scope="col">Approve/Deny</th>
			</tr>
		</thead>
		<tbody id=managerReimbursementList>

		</tbody>
	</table>

</div>