<div>
	<h3 class="text-center">Pending Reimbursement Requests</h3>
	<hr>
	<table id="pendingList" class="table table-bordered">
		<thead>
			<tr>
				<th scope="col">Author</th>
				<th scope="col">Date Submitted</th>
				<th scope="col">Description</th>
				<th scope="col">Amount</th>
				<th scope="col">Approve/Decline</th>
			</tr>
		</thead>
	</table>
	<br> <br> <br>

	<button class="btn btn-submit" id="Declinebtn">Show Declined</button>
	<button class="btn btn-submit" id="ApprovedBtn">Show Approved</button>
</div>